@model FP.AspNetTraining.PersonsWebApp.Models.Person

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.IsNew ? "Neue Person" : $"{Model.FirstName} {Model.Name}";
}

@using (Html.BeginForm("Edit", "Person"))
{
    @Html.HiddenFor(x => x.Id);
    @Html.ValidationSummary();
    <div class="flex-container">
        <div class="label">@Html.LabelFor(x => x.Name)</div>
        <div>@Html.EditorFor(x => x.Name) @Html.ValidationMessageFor(x=>x.Name)</div>
    </div>
    <div class="flex-container">
        <div class="label">@Html.LabelFor(x => x.FirstName)</div>
        <div>@Html.EditorFor(x => x.FirstName) @Html.ValidationMessageFor(x => x.FirstName)</div>
    </div>
    <div class="flex-container">
        <div class="label">@Html.LabelFor(x => x.BirthdayEdit)</div>
        <div>@Html.EditorFor(x => x.BirthdayEdit) @Html.ValidationMessageFor(x => x.BirthdayEdit)</div>
    </div>
    <div class="flex-container">
        <div class="label">@Html.LabelFor(x => x.Location)</div>
        <div>
            @Html.DropDownListFor(x => x.Location,
      ViewBag.Locations as IEnumerable<SelectListItem>)
            @Html.ValidationMessageFor(x => x.Location)
        </div>
    </div>
    <div class="flex-container">
        <div>
            <input type="submit" value="Speichern" />
        </div>
    </div>
}
