@model IEnumerable<FP.AspNetTraining.PersonsWebApp.Models.Person>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Personen";
}

@Html.ActionLink("Neue Person", "Create");

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x=> x.FirstName)</th>
            <th>@Html.DisplayNameFor(x => x.Name)</th>
            <th>@Html.DisplayNameFor(x => x.Birthday)</th>
            <th>@Html.DisplayNameFor(x => x.Location)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var person in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x=> person.FirstName)</td>
                    <td>@Html.DisplayFor(x => person.Name)</td>
                    <td>@Html.DisplayFor(x => person.Birthday)</td>
                    <td>
                        @((ViewBag.Locations as IEnumerable<SelectListItem>)?
                                .FirstOrDefault(x=>x.Value == person.Location)?.Text)
                    </td>
                    <td>
                        @Html.ActionLink("Bearbeiten", "Edit", new { person.Id })
                        @Html.ActionLink("Löschen", "Delete", new { person.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
