@model IEnumerable<GW.AspNetTraining.TrainingsWebApp.Models.Training>
@{
    ViewBag.Title = "Schulungen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Neue Schulung", "Create")

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Duration)</th>
            <th>@Html.DisplayNameFor(model => model.Level)</th>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th>@Html.DisplayNameFor(model => model.Approval)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var training in Model)
            {
                Html.RenderPartial("Row", training);
            }
        }

    </tbody>
</table>
